/.idea/.idea.TMS.dir/.idea/.gitignore
/.vs/TMS/v17/.wsuo
/.vs/TMS-Project/FileContentIndex/d22b22ca-ef47-4162-8128-8c9fb7353b69.vsidx
/.vs/TMS-Project/FileContentIndex/e208710d-1854-4441-a238-0410e2eb27ea.vsidx
/.idea/.idea.TMS.dir/.idea/encodings.xml
/Folder.DotSettings.user
/.idea/.idea.TMS.dir/.idea/indexLayout.xml
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/obj/Debug/net6.0-windows/TMS-Project_djppkd2e_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_djppkd2e_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_djppkd2e_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_djppkd2e_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_h2i21ej1_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_h2i21ej1_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_h2i21ej1_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_h2i21ej1_wpftmp.csproj.BuildWithSkipAnalyzers
/obj/Debug/net6.0-windows/TMS-Project_h2i21ej1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/.idea/.idea.TMS.dir/.idea/vcs.xml
/.vs/VSWorkspaceState.json
/.vs/TMS-Project/FileContentIndex/1d2c6e19-7b46-4ca5-9e2f-a039936c1322.vsidx
/.vs/TMS-Project/FileContentIndex/b02ebd67-d100-43f7-abed-eec7664acdcb.vsidx
/obj/Debug/net6.0-windows/TMS-Project_afoy10ht_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_afoy10ht_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_afoy10ht_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_afoy10ht_wpftmp.csproj.BuildWithSkipAnalyzers
/obj/Debug/net6.0-windows/TMS-Project_afoy10ht_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DataLayer/Migrations/20231116091549_InitialMigration.cs
/DataLayer/Migrations/20231116091549_InitialMigration.Designer.cs
/obj/TMS-Project.csproj.EntityFrameworkCore.targets
/obj/Debug/net6.0-windows/TMS-Project_2w4buhds_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_2w4buhds_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_2w4buhds_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_2w4buhds_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_add3gswi_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_add3gswi_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_add3gswi_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_add3gswi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_layjpdgv_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_layjpdgv_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_layjpdgv_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_layjpdgv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_zdwqfgdj_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_zdwqfgdj_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_zdwqfgdj_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_zdwqfgdj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DataLayer/Migrations/TmsDbContextModelSnapshot.cs
/appsettings.json
/.idea/.idea.TMS.dir/.idea/dataSources.xml
/bin/Debug/net6.0-windows/Devart.Data.dll
/bin/Debug/net6.0-windows/Devart.Data.MySql.dll
/bin/Debug/net6.0-windows/Microsoft.Extensions.Configuration.dll
/bin/Debug/net6.0-windows/Microsoft.Extensions.Configuration.FileExtensions.dll
/bin/Debug/net6.0-windows/Microsoft.Extensions.Configuration.Json.dll
/bin/Debug/net6.0-windows/Microsoft.Extensions.FileProviders.Abstractions.dll
/bin/Debug/net6.0-windows/Microsoft.Extensions.FileProviders.Physical.dll
/bin/Debug/net6.0-windows/Microsoft.Extensions.FileSystemGlobbing.dll
/bin/Debug/net6.0-windows/MySqlBackupNet.DevartExpress.dll
/obj/Debug/net6.0-windows/TMS-Project_3lfoct1b_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_3lfoct1b_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_3lfoct1b_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_3lfoct1b_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_k5baaghk_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_k5baaghk_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_k5baaghk_wpftmp.assets.cache
/obj/TMS-Project_k5baaghk_wpftmp.csproj.nuget.dgspec.json
/obj/TMS-Project_k5baaghk_wpftmp.csproj.nuget.g.props
/obj/TMS-Project_k5baaghk_wpftmp.csproj.nuget.g.targets
/obj/Debug/net6.0-windows/TMS-Project_k5baaghk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Migrations/20231121005613_InitialCreate.cs
/Migrations/20231121005613_InitialCreate.Designer.cs
/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.cs
/obj/Debug/net6.0-windows/TMS-Project_3pyvxrsi_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_3pyvxrsi_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_3pyvxrsi_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_3pyvxrsi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_hgtr3zcl_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_hgtr3zcl_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_hgtr3zcl_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_hgtr3zcl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_lrj4rs5f_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_lrj4rs5f_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_lrj4rs5f_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_lrj4rs5f_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_MarkupCompile.cache
/obj/Debug/net6.0-windows/TMS-Project_MarkupCompile.lref
/obj/Debug/net6.0-windows/TMS-Project_ntr0qy5s_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_ntr0qy5s_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_ntr0qy5s_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_ntr0qy5s_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_wd5mvc1p_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_wd5mvc1p_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_wd5mvc1p_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_wd5mvc1p_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_zt2me44p_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_zt2me44p_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_zt2me44p_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_zt2me44p_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Migrations/TmsDbContextModelSnapshot.cs
/obj/Debug/net6.0-windows/TMS-Project_f4f0iayx_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_f4f0iayx_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_f4f0iayx_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_f4f0iayx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/TMS-Project_pr4qezkv_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_pr4qezkv_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_pr4qezkv_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_pr4qezkv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/.idea/.idea.TMS-Project/.idea/.name
/.idea/.idea.TMS-Project/.idea/.gitignore
/.idea/.idea.TMS-Project/.idea/dataSources.xml
/.idea/.idea.TMS-Project/.idea/encodings.xml
/.idea/.idea.TMS-Project/.idea/indexLayout.xml
/obj/Debug/net6.0-windows/TMS-Project_3gznk1rq_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/TMS-Project_3gznk1rq_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/TMS-Project_3gznk1rq_wpftmp.assets.cache
/obj/Debug/net6.0-windows/TMS-Project_3gznk1rq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/.idea/.idea.TMS-Project/.idea/vcs.xml
